.all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.structure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}

.box div {
    display: flex;
    flex-direction: column;
    flex: 1 1 25px;
}

.hoverOn {
    background-color: grey;
}

.hoverOff {
    background-color: white;
}


button {
    width: 200px;
    height: 40px;
    cursor: pointer;
}

input {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    display: inline;
}

input::-webkit-color-swatch {
    border-radius: 50%;
}